/* Meta and Header styles. */
html {
  background: url(images/back.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position: left top;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 42px;
  letter-spacing: -0.8px;
  word-spacing: 2.6px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

#header {
  font-size: 56px;
  text-align:center;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

body {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  float: left;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  -webkit-text-stroke: 0px black;
  -webkit-text-fill-color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fabf0c;
  color: white;
}

* {box-sizing: border-box}
.mySlides {display: none}
#first {display: block}
img {
  vertical-align: middle;
  height: auto;
  border: 6px solid #ddd;
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 34px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 24px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}