/* Meta and Header styles. */
html { 
  background: url(images/forest.jpg) no-repeat center center fixed; 
  background-size: cover;
  color: #d6a922;
  font: small-caps bold 36px sans-serif;
  text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
 
#header {
    font-size: 42;
    text-align:center;
}

/* Tag styles. */
a {
    color:inherit;
    font: inherit;
    text-shadow: inherit;
}

p {
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 
/* Quote button. */
#quote-container {
    font-size: 36px;
}

/* Container for grouping elements. */ 
.float-container {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    width: 100vw;
}

.float-child {
    display: inline-block;
    position: relative;
    text-align:center;
}

/* Front page images. */
.image {
    border: 5px solid blue;
    border-style: ridge;
    float:left;
    height:auto;
    max-width:100%;
    width: 250px;
}
 
#hobbies {
    height: auto;
    margin: 100px; 
    width: auto; 
}

#percap {
    position: inherit;
    top: 400px;
}

#hobcap {
    position: inherit;
    top: 25px;
}

#profcap {
    left: -25px;
    position: inherit;
    top: 325px;
}

/* Crisis info style. */
#crisistext {
    margin-top: 80px;
    text-align: center;
}

.cards {
    margin-left: 15px;
}